body{
    background-color: #eac4d5;
}

#contact {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    color: white;
    padding: 80px 0px;
    font-size: 20px;
    display: flex;
} 

#contact h1 {
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 50px;
    color: white;
}

.contact-left {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
}

.contact-right {
    display: flex;
    margin: 10px;
    align-items: center;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.icon {
    margin: 10px;
}

ul {
    list-style-type: none;
    font-size:24px;
    letter-spacing: 4px;
}

li a {
    text-decoration: none;
    color: white;
}

li {
    margin: 40px 0px;
}

.form {
    border-radius: 4px;
    text-align: center;
    padding-bottom: 25px;
    margin:auto;
}

form {
    width: 400px;
}

.form-element {
    font-weight: bold;
    text-align: left;
    padding: 12px 15px;
}

input[type="text"],input[type="email"]{
    width: 50%;
    float: right;
}


input[type="submit"], input[type="reset"] {
    padding: 15px 25px;
    width: 45%;
    height: 3em;
    border-width: 2px;
    border-radius: 5%;
    border-color: green;
}

.btn-primary {
    color: black;
    background-color: #d6eadf;
}

.btn-secondary {
    color:green;
    background-color: white;
}

.btn-primary:hover{
    background-color: orange;
}

.btn-secondary:hover{
    background-color: orange;
}
